i.mce-i-wprainbow_linenumbers {
	font: bold 20px/1 'Open Sans';
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: -2px;
	padding-right: 2px;
}
i.mce-i-wprainbow_linenumbers:before {
	content: '#';
}